<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/JDBC_LAYERED_ARC_3/src/dao_1/com/EmployeeDAO.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="dao_1.com.EmployeeDAO"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="JDBC_LAYERED_ARC"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JDBC_LAYERED_ARC_3"/>
</launchConfiguration>
